<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FeatureTeamConfigurations" type="ConfigurationSectionSamples.TeamEnvironmentConfigurationsSection, ConfigurationSectionSamples"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <FeatureTeamConfigurations>
    <FeatureTeams>
      <FeatureTeam Team="Main Source Branch">
        <DeployedEnvironments>
          <Environment Name="Dev - Features Merge"></Environment>
          <Environment Name="QA - Regression"></Environment>
          <Environment Name="Performance - Stable"></Environment>
          <Environment Name="Demo - Stable"></Environment>
          <Environment Name="Staging - Stable"></Environment>
        </DeployedEnvironments>
      </FeatureTeam>
      <FeatureTeam Team="Processing Service Features" SqlDatabaseSuffix="ProcSvcTip" WebAppSuffix="procsvc">
        <DeployedEnvironments>
          <Environment Name="Dev - Processing Svc"></Environment>
          <Environment Name="QA -  Processing Svc"></Environment>
          <Environment Name="Demo - Processing Svc"></Environment>
        </DeployedEnvironments>
      </FeatureTeam>
      <FeatureTeam Team="Production Patch" SqlDatabaseSuffix="ProccessingSvcTip" WebAppSuffix="procsvc">
        <DeployedEnvironments>
          <Environment Name="Dev - Patch v48.0.0.3"></Environment>
          <Environment Name="QA - Patch v48.0.0.3"></Environment>
          <Environment Name="Staging - Patch v48.0.0.3"></Environment>
        </DeployedEnvironments>
      </FeatureTeam>
      <FeatureTeam Team="Stability and Performance Tuning" WebAppSuffix="stabilty"></FeatureTeam>
    </FeatureTeams>
  </FeatureTeamConfigurations>
</configuration>