<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name = "SingleElementCollectionSample" type="ConfigSectionCode.SingleElementCollectionSection, CustomConfigSectionSample"/>
  </configSections>
  <startup>
    <supportedRuntime version = "v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <SingleElementCollectionSample>
    <SingleCollection>
      <SingleElement Name = "First Element Name" SampleStringValue1="First String Value"/>
      <SingleElement Name = "Second Element Name" SampleStringValue1="Second String Value" SampleIntValue1="1"/>
      <SingleElement Name = "Third Element Name" SampleStringValue1="Third String Value"/>
    </SingleCollection>
  </SingleElementCollectionSample>
</configuration>