<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyUrls" type="ConfigSectionCode.UrlsSection, CustomConfigSectionSample"/>
    <section name="ConfiguredEnvironments" type="ConfigSectionCode.EnvironmentConfigSection, CustomConfigSectionSample"/>
    <section name="EnvironmentEcosystems" type="ConfigSectionCode.EnvironmentEcosytemsSection, CustomConfigSectionSample"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <MyUrls>
    <urls>
      <add name="first" url="http://yeahright.com" port="4040"/>
    </urls>
  </MyUrls>
  <ConfiguredEnvironments>
    <Environments>
      <Environment Name="DQS Dev" LDSServer="Foo" Port="123"/>
    </Environments>
  </ConfiguredEnvironments>
  <EnvironmentEcosystems>
    <Environments>
      <Environment Name="DQS Dev">
        <TeamEnvironment Name="" DatabaseSuffix=""></TeamEnvironment>
        <LDSServer></LDSServer>
      </Environment>
    </Environments>
  </EnvironmentEcosystems>
</configuration>