<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyUrls" type="ConfigSectionCode.UrlsSection, CustomConfigSectionSample"/>
    <section name="SingleElementCollectionSample" type="ConfigSectionCode.SingleElementCollectionSection, CustomConfigSectionSample"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <MyUrls>
    <urls>
      <add name="first" url="http://yeahright.com" port="4040"/>
    </urls>
  </MyUrls>

	<SingleElementCollectionSample>
		<SingleCollection>
			
		</SingleCollection>
	</SingleElementCollectionSample>
</configuration>